nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(34, 36, 178);
  border-bottom: 2px solid rgb(34, 36, 178);
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: rgb(50, 48, 156);
  border-bottom: 2px solid rgb(50, 48, 156);
}

nav a.active {
  background-color: rgb(218, 213, 213);
  color: rgb(50, 48, 156);
}
